[data-theme="mobilon1"] {

  --chotto-message-right-bg: var(--emerald-100);
  --chotto-message-right-secondary-bg: var(--emerald-200);
  --chotto-message-left-bg: var(--default-white);
  --chotto-message-left-secondary-bg: var(--neutral-300);
  
  --chotto-message-accent-line-color: var(--emerald-400);
  --chotto-message-focused-color: #8df392;

  --chotto-message-margin: 0 0 8px 0;

  --chotto-message-type-icon-bg-color: var(--neutral-400);
  --chotto-message-type-icon-color: var(--neutral-100);

  --chotto-message-popup-info-bg-color: rgb(0 0 0 / 39%);
  --chotto-message-popup-info-color: var(--default-white);
  --chotto-message-border-radius: 5px;

  /* Audio Message */
  --chotto-audio-message-transcript-delimiter-color: var(--neutral-400);
  --chotto-audio-message-pbc-background-color: var(--neutral-400);
  --chotto-audio-message-pb-background-color: var(--emerald-500);

  /* Call Message */
  --chotto-call-message-phone-icon-missed-color: var(--p-red-500);

  /* System Message */
  --chotto-system-message-bg-color: #ffeecc;

  /* Delimiter Message */
  --chotto-delimiter-message-display: flex;
  --chotto-delimiter-message-align-items: center;
  --chotto-delimiter-message-justify-content: center;
  --chotto-delimiter-message-width: 54%;
  --chotto-delimiter-message-height: 26px;
  --chotto-delimiter-message-margin: 21px auto 21px auto;
  --chotto-delimiter-message-border-bottom: 1px solid var(--neutral-275);
  --chotto-delimiter-message-text-font-size: 14px;
  --chotto-delimiter-message-text-line-height: 1.5;
  --chotto-delimiter-message-text-align: center;
  --chotto-delimiter-message-text-color: var(--neutral-550);
}